{minimum_otp_vsn, "19.3"}. % see also .envrc

{plugins, [
    {rebar3_gpb_plugin, "1.10.2"}
]}.

{erl_opts, [
    {parse_transform, lager_transform},
	debug_info]}.
{deps, [
    {lager,			".*", {git, "git://github.com/basho/lager.git",					{tag, "3.2.4"}}},
    {gpb,           ".*", {git, "git://github.com/tomas-abrahamsson/gpb.git",       {tag, "3.18.8"}}},
    {ranch,         ".*", {git, "git://github.com/ninenines/ranch",                 {tag, "1.5.0"}}},
	{recon, 		".*", {git, "git://github.com/ferd/recon.git", 					{tag, "2.3.5"}}},
	{observer_cli, 	".*", {git, "git://github.com/zhongwencool/observer_cli.git", 	{tag, "1.3.1"}}}
]}.

{relx, [{release, { erl_playground, "1.0.0" }, [
          	lager,
            gpb,
          	sasl,
            {ranch, load},
            {erl_playground, "1.0.0", '='}
		]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},
    	{generate_start_script, true},
        {extended_start_script, true},

        {overlay, [
        	{mkdir, "log/sasl"},
        	{mkdir, "releases/{{release_version}}/config"},
        	{template, "config/sys.config", "releases/{{release_version}}/sys.config"},
        	{template, "config/sasl.config", "releases/{{release_version}}/config/sasl.config"},
        	{template, "config/lager.config", "releases/{{release_version}}/config/lager.config"}
        ]}
]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
